@import 'tailwindcss';

@theme {
  --color-mono-0: #ffffff;
  --color-mono-50: #f9f9f9;
  --color-mono-100: #f8f8f8;
  --color-mono-200: #ededed;
  --color-mono-300: #d9d9d9;
  --color-mono-500: #6d6d6d;
  --color-mono-600: #454545;
  --color-mono-800: #282828;
  --color-mono-900: #121212;
}

@utility bleed-bg-* {
  background-color: --value(--color- *, [color]);
  border-image: linear-gradient(--value(--color- *, [color]) 0 0) fill 0 / /0 9999vw 0 9999vw;
}

@layer base {
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }

  select {
    appearance: none;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6"><path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" /></svg>');
    background-repeat: no-repeat;
    background-position: right 1.2rem top 50%;
    background-size: 1rem;
  }
}
