@import 'tailwindcss';

@theme {
  --color-mono-0: #ffffff;
  --color-mono-50: #f9f9f9;
  --color-mono-100: #f8f8f8;
  --color-mono-200: #ededed;
  --color-mono-300: #d9d9d9;
  --color-mono-500: #6d6d6d;
  --color-mono-600: #454545;
  --color-mono-800: #282828;
  --color-mono-900: #121212;
}

@utility bleed-bg-* {
  background-color: --value(--color-*, [color]);
  border-image: linear-gradient(--value(--color-*, [color]) 0 0) fill 0 / /0 9999vw 0 9999vw;
}

@utility custom-scrollbar {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #454545;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

@layer base {
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}
