.description {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 3);
  color: var(--color-mono-500);

  & > h2 {
    font-size: var(--text-2xl);
    line-height: var(--text-2xl--line-height);
    font-weight: var(--font-weight-semibold);
    color: var(--color-mono-800);
  }

  & > h3 {
    font-size: var(--text-xl);
    line-height: var(--text-xl--line-height);
    font-weight: var(--font-weight-semibold);
    color: var(--color-mono-800);
  }

  & > ul {
    padding-left: calc(var(--spacing) * 4);

    & > li {
      list-style-type: disc;
    }
  }
}
